html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}


#headline {
font-family: 'roboto', sans-serif;
padding-top:40px;
padding-left: 20px;
margin: 10px;
color: rgb(255,0,0);
font-size: 50px;
}


#text2 {
  font-family: 'roboto', sans-serif;
  padding-left: 20px;
  margin: 10px;
  color: rgb(255,0,0);
  font-size: 18px;

}
